<article class="feed {{post_class}}" data-month="{{date format="MMMM YYYY"}}">

    <div class="feed-wrapper">
        <h2 class="feed-title talk-title-split">{{title}}</h2>
        {{#if custom_excerpt}}
            <div class="feed-conference">{{custom_excerpt}}</div>
        {{/if}}
        <div class="feed-right">
            <time class="feed-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date published_at format="YYYY"}}
            </time>
            <div class="feed-visibility feed-visibility-{{visibility}}">
                {{> "icons/star"}}
            </div>
            <div class="feed-icon">
                {{> "icons/chevron-right"}}
            </div>
        </div>
    </div>

    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>
